/* Styles for about_me.html section */
@font-face {
    font-family: default_sans;
    src: url(../fonts/OpenSans.ttf);
}

.content_styles {
    font-family: default_sans;
    color: white;
    text-align: left;
}

.profile_pic {
    position: relative;
    float: right;
    top: 5px;    
    padding: 7px 10px 10px 7px;
}